[submodule "themes/hugo-whisper-theme"]
	path = themes/hugo-whisper-theme
	url = https://github.com/jugglerx/hugo-whisper-theme.git
[submodule "public"]
	path = public
	url = git@github.com:kpricorn/kpricorn.github.io.git
	branch = master
