<div class="sub-footer">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="sub-footer-inner">
          <ul>
            <li><a href="mailto:sebu@kpricorn.org" target="blank">Email</a></li>
            <li><a href="https://linkedin.com/in/kpricorn" target="blank">Linkedin</a></li>
            <li><a href="https://github.com/kpricorn" target="blank">GitHub</a></li>
            <li><a href="https://gitlab.com/kpricorn" target="blank">GitLab</a></li>
            <li><a href="https://www.strava.com/athletes/9959175" target="blank">Strava</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row mt-lg-0 mt-3">
      <div class="col-12 text-lg-left text-muted text-small font-weight-light">
        <a rel="license" href="http://creativecommons.org/licenses/by/4.0/" target="blank"><img style="opacity: 0.6;" alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/80x15.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.
        <br>
        Theme by <a href="https://www.zerostatic.io/" target="blank">Robert Austin</a>. Deployed on <a href="https://github.com/kpricorn/kpricorn.github.io" target="blank">GitHub</a>
      </div>
    </div>
  </div>
</div>
